@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eeee;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 0.5px solid #d0d0d0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: white;
  color: #303030;
  text-align: center;
}

.card-actions {
  display: flex;
  flex-direction: column;
}

.card-actions button {
  margin: 3px;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  color: white;
}

.card-actions button:first-child {
  background-color: #79d19f;
}

.card-actions button:first-child:hover {
  background-color: #558a6c;
}

.card-actions button:last-child {
  background-color: #f45148;
}

.card-actions button:last-child:hover {
  background-color: #b9453f;
}
